<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grandParent</key>
	<array>
		<dict>
			<key>grandParentName</key>
			<string>Arts, Culture &amp; Humanities</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Alliances &amp; Advocacy</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Management &amp; Technical Assistance</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Professional Societies &amp; Associations </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Research Institutes &amp; Public Policy Analysis</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Single Organization Support</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Fund Raising &amp; Fund Distribution</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Support NEC</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Arts &amp; Culture</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Cultural &amp; Ethnic Awarenes</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Folk Arts</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Arts Education</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Arts &amp; Humanities Councils &amp; Agencies</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Community Celebration</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Visual Arts</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Museums</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Art Museums</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Children’s Museums</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>History Museums</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Natural History &amp; Natural Science Museums</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Science &amp; Technology Museums</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Performing Arts</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Performing Arts Centers</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Dance</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Ballet</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Theater</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Music</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Symphony Orchestras</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Opera</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Singing &amp; Choral Groups</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Bands &amp; Ensembles</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Performing Arts Schools</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Humanities</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Historical Organizations</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Historical Societies &amp; Historic Preservation</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Commemorative Events</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Arts Services</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Arts, Culture &amp; Humanities NEC</string>
					<key>child</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>grandParentName</key>
			<string>Education</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Alliances &amp; Advocacy </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Management &amp; Technical Assistance </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Professional Societies &amp; Associations </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Research Institutes &amp; Public Policy Analysis </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Single Organization Support </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Fund Raising &amp; Fund Distribution </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Support NEC</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Elementary &amp; Secondary Schools</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Preschools</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Primary &amp; Elementary Schools</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Secondary &amp; High Schools</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Special Education</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Charter Schools</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Vocational &amp; Technical Schools</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Higher Education</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Two-Year Colleges</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Undergraduate Colleges</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Universities</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Graduate &amp; Professional Schools</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Adult Education</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Libraries</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Student Services</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Scholarships &amp; Student Financial Aid</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Student Sororities &amp; Fraternities</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Alumni Associations</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Educational Services</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Remedial Reading &amp; Encouragement</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Parent &amp; Teacher Groups</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Education NEC</string>
					<key>child</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>grandParentName</key>
			<string>Environment</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Alliances &amp; Advocacy </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Management &amp; Technical Assistance </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Professional Societies &amp; Associations </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Research Institutes &amp; Public Policy Analysis </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Single Organization Support </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Fund Raising &amp; Fund Distribution </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Support NEC</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Pollution Abatement &amp; Control</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Recycling</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Natural Resources Conservation &amp; Protection</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Water Resources, Wetlands Conservation &amp; Management</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Land Resources Conservation</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Energy Resources Conservation &amp; Development</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Forest Conservation</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Botanical, Horticultural &amp; Landscape Services</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Botanical Gardens &amp; Arboreta</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Garden Clubs</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Environmental Beautification</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Environmental Education</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Environment NEC</string>
					<key>child</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>grandParentName</key>
			<string>Animal-Related</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Alliances &amp; Advocacy </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Management &amp; Technical Assistance </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Professional Societies &amp; Associations </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Research Institutes &amp; Public Policy Analysis </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Single Organization Support </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Fund Raising &amp; Fund Distribution </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Support NEC</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Animal Protection &amp; Welfare</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Wildlife Preservation &amp; Protection</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Protection of Endangered Species</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Bird Sanctuaries</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Fisheries Resources</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Wildlife Sanctuaries</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Veterinary Services</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Zoos &amp; Aquariums</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Animal Services NEC</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Animal Training</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Animal-Related NEC</string>
					<key>child</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>grandParentName</key>
			<string>Health Care</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Alliances &amp; Advocacy </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Mental health &amp; crisis intervention</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Professional Societies &amp; Associations </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Research Institutes &amp; Public Policy Analysis </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Single Organization Support </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Fund Raising &amp; Fund Distribution </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Support NEC</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Hospitals</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Community Health Systems</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>General Hospitals</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Specialty Hospitals</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Ambulatory &amp; Primary Health Care</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Group Health Practices</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Community Clinics</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Reproductive Health Care</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Family Planning</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Rehabilitative Care</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Health Support</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Blood Banks</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Emergency Medical Services &amp; Transport</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Organ &amp; Tissue Banks</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Public Health</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Health (General &amp; Financing)</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Patient &amp; Family Support</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Nursing</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Nursing Facilities</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Home Health Care</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Health Care NEC</string>
					<key>child</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>grandParentName</key>
			<string>Mental Health &amp; Crisis Intervention</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Alliances &amp; Advocacy </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Management &amp; Technical Assistance </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Professional Societies &amp; Associations </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Research Institutes &amp; Public Policy Analysis </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Single Organization Support </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Fund Raising &amp; Fund Distributio</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Support NEC</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Substance Abuse Dependency, Prevention &amp; Treatment</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Substance Abuse Prevention</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Substance Abuse Treatment</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Mental Health Treatment</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Psychiatric Hospitals</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Community Mental Health Centers</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Residential Mental Health Treatment</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Hot Lines &amp; Crisis Intervention</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Sexual Assault Services</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Addictive Disorders NEC</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Smoking Addiction</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Smoking Addiction</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Eating Disorders &amp; Addictions</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Gambling Addiction</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Counseling</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Mental Health Disorders</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Mental Health Associations</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Mental Health &amp; Crisis Intervention NEC</string>
					<key>child</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>grandParentName</key>
			<string>Diseases, Disorders &amp; Medical Disciplines</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Alliances &amp; Advocacy </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Management &amp; Technical Assistance </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Professional Societies &amp; Associations </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Research Institutes &amp; Public Policy Analysis </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Single Organization Support </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Fund Raising &amp; Fund Distribution </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Support NEC</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Birth Defects &amp; Genetic Diseases</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Down Syndrome</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Cancer</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Breast Cancer</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Diseases of Specific Organs</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Eye Diseases, Blindness &amp; Vision Impairments</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Ear &amp; Throat Diseases</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Heart &amp; Circulatory System Diseases &amp; Disorders</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Kidney Diseases</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Lung Diseases</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Brain Disorders</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Nerve, Muscle &amp; Bone Diseases</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Arthritis</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Epilepsy</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Allergy-Related Diseases</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Asthma</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Digestive Diseases &amp; Disorders</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Specifically Named Diseases</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>AIDS</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Alzheimer’s Disease</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Autism</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Medical Disciplines</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Biomedicine &amp; Bioengineering </string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Geriatrics</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Neurology &amp; Neuroscience</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Pediatrics</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Surgical Specialties</string>
					<key>child</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>grandParentName</key>
			<string>Mental Health &amp; Crisis Intervention</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Alliances &amp; Advocacy </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Management &amp; Technical Assistance </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Professional Societies &amp; Associations </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Research Institutes &amp; Public Policy Analysis </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Single Organization Support </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Fund Raising &amp; Fund Distribution </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Support NEC</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Substance Abuse Dependency, Prevention &amp; Treatment</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Substance Abuse Prevention</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Substance Abuse Treatment</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Mental Health Treatment</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Psychiatric Hospitals</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Community Mental Health Centers</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Residential Mental Health Treatment</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Hot Lines &amp; Crisis Intervention</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Sexual Assault Services</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Addictive Disorders NEC</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Smoking Addiction</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Eating Disorders &amp; Addictions</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Gambling Addiction</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Counseling</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Mental Health Disorders</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Mental Health Associations</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Mental Health &amp; Crisis Intervention NEC</string>
					<key>child</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>grandParentName</key>
			<string>Diseases, Disorders &amp; Medical Disciplines</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Alliances &amp; Advocacy </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Management &amp; Technical Assistance </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Professional Societies &amp; Associations </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Research Institutes &amp; Public Policy Analysis </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Single Organization Support </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Fund Raising &amp; Fund Distribution </string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Support NEC</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Birth Defects &amp; Genetic Diseases</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Down Syndrome</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Cancer</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Breast Cancer</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Diseases of Specific Organs</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Eye Diseases, Blindness &amp; Vision Impairments</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Ear &amp; Throat Diseases</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Heart &amp; Circulatory System Diseases &amp; Disorders</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Kidney Diseases</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Lung Diseases</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Brain Disorders</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Nerve, Muscle &amp; Bone Diseases</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Arthritis</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Epilepsy</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Allergy-Related Diseases</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Asthma</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Digestive Diseases &amp; Disorders</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Specifically Named Diseases</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>AIDS</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Alzheimer’s Disease</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Autism</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Medical Disciplines</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Biomedicine &amp; Bioengineering </string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Geriatrics</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Neurology &amp; Neuroscience</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Pediatrics</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Surgical Specialties</string>
					<key>child</key>
					<array/>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Diseases, Disorders &amp; Medical Disciplines NEC</string>
					<key>child</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
