<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base-url</key>
	<string>https://check.i2-donate.com/webservice/</string>
	<key>Live-url</key>
	<string>https://admin.i2-donate.com/webservice/</string>
	<key>Register</key>
	<string>register</string>
	<key>Login</key>
	<string>login</string>
	<key>CountryList</key>
	<string>country_list</string>
	<key>SocialLogin</key>
	<string>social_login</string>
	<key>UpdateProfile</key>
	<string>update_profile</string>
	<key>Categories</key>
	<string>categories</string>
	<key>charityList</key>
	<string>charity_list</string>
	<key>charityLike</key>
	<string>charity_like_dislike</string>
	<key>CharityFollow</key>
	<string>charity_following</string>
	<key>CharityLikeFollowCount</key>
	<string>likes_and_followings</string>
	<key>ChangePassword</key>
	<string>change_password</string>
	<key>ForgotPassword</key>
	<string>forgot_password</string>
	<key>VerifyOtp</key>
	<string>verify_otp</string>
	<key>UpdatePassword</key>
	<string>update_password</string>
	<key>Notification</key>
	<string>notification</string>
	<key>Tranasaction</key>
	<string>transaction</string>
	<key>TransactionList</key>
	<string>transaction_list</string>
</dict>
</plist>
